*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}

section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}

section .containr{
    position: relative;
    min-width:  100%;
    min-height: 0px;
    display: flex;
    z-index: 1000;
}

section .containr .contactform {
    position: absolute;
    background: #fff;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

section .containr .contactform h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

section .containr .contactform .formbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

 section .containr .contactform .formbox .inputbox{
     width: 100%;
     display: inline;
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
}

section .containr .contactform .formbox .inputbox.w100{
    width: 100%;
}

section .containr .contactform .formbox .inputbox input,
section .containr .contactform .formbox .inputbox textarea
{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

section .containr .contactform .formbox .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    /* margin: 10px 0; */
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

@media (max-width: 450px){
    section .containr  .contactform {
      margin-top: 30%;
      margin-left: 3%;
    margin-right: 4%;
    }
     
}

@media (max-width: 650px) and (min-width: 450px){
    section .containr .contactform {
      margin-top: 20%;
      margin-left: 9%;
    margin-right: 9%;
    padding-top: 8%;
    padding-left: 3%;
    padding-right: 4%;
    }
       
}

@media (max-width: 1085px) and (min-width: 650px) {
    section .containr .contactform {
      margin-top: 11%;
    }     
}

section .containr .contactform .formbox .inputbox input:focus ~ span,
section .containr .contactform .formbox .inputbox textarea:focus ~span,
section .containr .contactform .formbox .inputbox input:valid ~ span,
section .containr .contactform .formbox .inputbox textarea:valid ~span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

section .containr .contactform .formbox .inputbox input[type="submit"]{
    position: relative;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}


section .containr .contactform .formbox .inputbox input[type="submit"]:hover
{
   background: #ff568c;
}

@media (max-width: 650px) and (min-width: 450px){
     section .containr .contactform .formbox .input{
        margin-top: 14px;
    }  
}

@media (max-width: 450px){
    section .containr .contactform .formbox .input{
        margin-top: 37px;
    }
}
